@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
  background-color: #202024;
  color: #e1e1e6;
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}
form {
  margin: 0 auto;
  width: 20rem;
  display: flex;
  flex-direction: column;
}
label {
  font-weight: 500;
  margin-bottom: 0.5rem;
}
input,
select {
  height: 36px;
  border-radius: 6px;
  padding: 8px 16px;
  margin-bottom: 1rem;
  background-color: #121214;
  color: #e1e1e6;
  border: none;
}
button {
  font-size: 1rem;
  font-weight: 600;
  min-height: 36px;
  border-radius: 6px;
  padding: 16px 16px;
  margin-bottom: 1rem;
  background-color: #00875f;
  color: #e1e1e6;
  border: none;
}
button:hover {
  cursor: pointer;
  background-color: #007048;
  transition: all 0.3s ease-in-out;
}
h1 {
  font-size: 1.8rem;
  font-weight: 600;
  margin-bottom: 2rem;
  color: #00875f;
}
