@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

/* AJUSTES GERAIS */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  font-size: 1.6rem;
}
:root {
  font-size: 62.5%; /* 10px = 1rem */

  --primary: #fff;
  --secondary: #fff;
  --tertiary: #fff;
  /* --secondary: #737373; */
  /* --tertiary: #f6f6f6; */
  --text: #000;
}

:root .dark-mode {
  --primary: #080808;
  --secondary: #ebebeb;
  --tertiary: #111111;
  --text: #ffffff;
}

.wrapper {
  width: min(50rem, 100%);
  margin-inline: 22rem;
  padding-inline: 2.4rem;
}

body {
  background-color: var(--tertiary);
}

/* ======================= CABEÇALHO ========================== */
  /* RESET */
  nav#navigation .wrapper * {
    margin: 0;
    padding: 0;
    visibility: initial;
    display: initial;
    opacity: initial;
    flex-direction: initial;
    position: initial;
    font-size: initial;
    font-weight: initial;
    transform: initial;
    color: initial;
    background-color: initial;
    filter: initial;
  }

  nav#navigation #menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 60%;
  }

  nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 1rem;
    background-color: var(--primary);
    color: var(--text);
  }

  nav #menu {
    display: flex;
    flex-direction: row;
  }

  header #links-list a {
    color: var(--text);
    text-decoration: none;
    margin-inline: 1rem;
  }

  header #links-list a:hover {
    cursor: pointer;
    color: var(--text);
  }

  header #darkmode-button {
    border: 1px solid var(--text);
    color: var(--text);
    font-weight: 600;
    background: none;
    padding: .25rem;
  }

/* CONTEÚDO PRINCIPAL */

main {
  background-color: var(--primary);
  color: var(--text);
}

main #profile-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin-top: 6.4rem;
}

main #profile-info img {
  height: 12rem;
  border-radius: 50%;
  margin-block: 1rem;
}

main #profile-info #username {
  font-size: 1.4rem;
  color: var(--text);
}

main #profile-bio {
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin-inline: 25rem; */
  margin-block: 2.4rem;
}

main #gallery-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4rem;
}

main #social-networks {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

main #social-networks #links {
  background: var(--tertiary);
  padding: 1.5rem;
  border: 0.5px solid var(--text);
  border-radius: .6rem;
  display: flex;
  margin-block: 1rem;
  gap: 2rem;
}

main #gallery-content #gallery-photos {
  display: flex;
  flex-direction: row;
  margin: 2.5rem;
}

main #gallery-content #gallery-photos:hover {
  cursor: pointer;
}

main #gallery-content #gallery-photos img, video {
  height: 300px;
  width: auto;
  margin-inline: 1rem;
}

/* RODAPÉ */

footer {
  background-color: var(--tertiary);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 2.5rem;
  color: var(--text);
}

footer .grid {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}

footer #grid-1 {
  display: flex;
  justify-content: center;
}

footer #grid-1 span {
  margin-bottom: 1rem;
}
footer .grid p, a {
  text-decoration: none;
  color: var(--text);
  margin-bottom: 0.25rem;
}

footer .grid p:hover, a:hover {
  cursor: pointer;
  color: var(--text);
  transition: ease-in-out 0.2s;
}

footer .grid h3 {
  font-weight: 500;
  color: var(--text);
  margin-bottom: 1rem;
}