<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cadastros Salvos</title>
</head>
<body>
  
  <%if (typeof(cadastros) == 'undefined' || cadastros.lenght == 0) {%>
<h2>Não há cadastro.</h2>
<%} else {%>
<h1>Cadastros Salvos: </h1>
    <% cadastros.forEach(cadastro => {%>
      <a href="/cadastro?nome=<%=cadastro%>"><%=cadastro.split(".txt")[0]%></a><br>
    <%})%>
<%}%>

  <a href="/"><button type="button">Fazer um novo cadastro</button></a>
</body>
</html>