<html>
    <head>
        <title>Cadastro de Usuário</title>
    </head>
    <body>
        <h1>Cadastro de Usuário</h1>
        <form action="/cadastrar" method="post">
            <label>Nome: </label>
            <input name="nome" type="text">
            <button type="submit">Enviar</button>
        </form>
    </body>
</html>
