@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  font-family: 'Inter', sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}
form {
  display: flex;
  flex-direction: column;
}
form label {
  margin-top: 0.5rem;
}
form input {
  height: 1.5rem;
  width: 18rem;
  margin-top: 0.5rem;
  border-radius: 6px;
  border: none;
  background-color: #d4d4d4;
  padding: 0.5rem;
}

#submitBtn {
  width: 100%;
  height: 1.5rem;
}