<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cadastro</title>
 
 
 <style>
    form {
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      width: 300px;
    }
    input {
      margin-bottom: 10px;
    }
  </style>





</head>
<body>
  <form method="post">
    <label for="nome">Nome: </label>
    <input type="text" name="nome" id="nome">

    <label for="email">Email: </label>
    <input type="email" name="email" id="email">

    <label for="senha">Senha: </label>
    <input type="password" name="senha" id="senha">

    <label for="confirmarSenha">Confirmar Senha: </label>
    <input type="password" name="confirmarSenha" id="confirmarSenha">

    <input type="submit" value="Cadastrar">
  </form>
    
  </form>
</body>
</html>