@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

body {
  font-family: DM Sans;
}
headers {
  display: flex;
  flex-direction: row;
  border: 2px black solid;
  margin-left: 10rem;
  width: 50rem;
}
headers p {
  margin-right: 4rem;
}
subjects p {
  border: 2px black solid;
  width: 9rem;
}