<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css">
  <title>Cadastro Concluído!</title>
  <style>
    body {
        background-color: #202024;
        color: #E1E1E6;
        font-family: 'Roboto', sans-serif;
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      button {
        font-size: 1rem;
        font-weight: 600;
        min-height: 36px;
        border-radius: 6px;
        padding:  16px 16px;
        margin-bottom: 1rem;
        background-color: #00875F;
        color: #E1E1E6;
        border: none;
      }
      button:hover {
        cursor: pointer;
        background-color: #007048;
        transition: all 0.3s ease-in-out;
      }
      a {
        color: #E1E1E6;
        text-decoration: none;
      }
  </style>
</head>
<body>
  <h1>Cadastro concluído com sucesso!</h1>
  <a href="/">Cadastrar um novo usuário</a>
  <a href="/cadastros">Visualizar Cadastros Salvos</a>
</body>
</html>