<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
</head>
<body>
<head>
<style>
    form {
        display: flex;
        flex-direction:column;
        width: 720px;
    }
</style>
</head>

</body>
    <form method="post" >
        <label for="nome">Digite seu nome:</label>
        <input type="text" name="nome" id="nome">
    
        <label for="nascimento">Data de nascimento:</label>
        <input type="date" name="nascimento" id="nascimento">
    
        <label for="email">Seu email</label>
        <input type="email" name="email" id="email">
    
        <label for="senha">Agora digite sua senha;</label>
        <input type="password" name="senha" id="senha">
    
        <label for="confsenha">Confirme a senha:</label>
        <input type="password" name="confsenha" id="confsenha">
    
        <label for="endereco">Seu endereço:</label>
        <input type="text" name="endereco" id="endereco">
    
        <label for="numero">Numero da sua Casa:</label>
        <input type="number" name="numero" id="numero">
    
        <label for="cidade">A cidade que você mora:</label>
        <input type="text" name="cidade" id="cidade">
    
        <label for="estado">E seu estado:</label>
        <input type="text" name="estado" id="estado">
    
        <input type="submit">
</form>

</body>
</html>