<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <header>
    <h3>Kevin Benevides' Portfolio</h3>
    <ul>
      <li>Home</li>
      <li>About</li>
      <li>More</li>
    </ul>
  </header>
  <main>
    <section>
      <div>
        <img src="" alt="work-01">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio, ullam?</p>
      </div>
      <div>
        <img src="" alt="work-02">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio, ullam?</p>
      </div>
      <div>
        <img src="" alt="work-03">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio, ullam?</p>
      </div>
      <div>
        <img src="" alt="work-04">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio, ullam?</p>
      </div>
    </section>
    <section>
      <img src="" alt="profile-pic">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur architecto eveniet est repellat optio aliquid tempora expedita. Odit, voluptatum minus!00</p>
    </section>
    <section>
      <div>
        <div>
          <img src="" alt="icon">
          <p>Social</p>
        </div>
        <div>
          <img src="" alt="icon">
          <p>Social</p>
        </div>
        <div>
          <img src="" alt="icon">
          <p>Social</p>
        </div>
        <div>
          <img src="" alt="icon">
          <p>Social</p>
        </div>
        <div>
          <img src="" alt="icon">
          <p>Social</p>
        </div>
      </div>
    </section>
  </main>
  <footer>
    <p>Made by *****.</p>
  </footer>
</body>
</html>