@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}
body {
  background-color: #202024;
  color: #e1e1e6;
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3rem;
}
div#menu {
  align-items: center;
}

form {
  margin: 0 auto;
  width: 20rem;
  display: flex;
  flex-direction: column;
}
label {
  font-weight: 500;
  margin-bottom: 0.5rem;
}
input,
select {
  height: 3rem;
  border-radius: 6px;
  padding: 8px 16px;
  margin-bottom: 1rem;
  background-color: #121214;
  color: #e1e1e6;
  border: none;
}
a,
button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  font-weight: 600;
  min-height: 36px;
  border-radius: 6px;
  padding: 16px 16px;
  margin-bottom: 1rem;
  background-color: #00875f;
  color: #e1e1e6;
  border: none;
  text-decoration: none;
}
a:hover, button:hover {
  cursor: pointer;
  background-color: #007048;
  transition: all 0.3s ease-in-out;
}

h1 {
  font-size: 1.8rem;
  font-weight: 600;
  margin-bottom: 1rem;
  color: #00875f;
}